In [240]:
import numpy as np
import pandas as pd
pd.set_option('display.max_row', None)
pd.set_option('display.max_column', None)
# pd.options.display.max_rows = 20
# pd.options.display.max_columns = 20
pd.options.display.max_colwidth = 80
np.set_printoptions(precision=4, suppress=True)

In [241]:
# Python community naming conventions

# import numpy as np
# import matplotlib.pyplot as plt
# import pandas as pd
# import seaborn as sns
# import statsmodels as sm

In [320]:
# # filtering a dataframe

# # 1. the "shell"
# df[]

# # 2. the condition
# df['column_name'] > 1

# # 3. combine them
# df[df['column_name'] > 1]

# # multiple conditons get wrapped in ()

# df[(df['column_name'] > 1) & (df['column_name'] < 20)]

In [319]:
# axis=1 is rows
# axis=0 is columns

## Creating Dateframes

In [287]:
# # syntax  pandas.DataFrame(data, index, columns) - no name att like Series

# # ****************************** empty dataframe
df = pd.DataFrame()

# #  **************************** dictionary of equal length ndArrays/lists
data = {"state": ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada", "Nevada"],
        "year": [2000, 2001, 2002, 2001, 2002, 2003],
        "pop": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

# # custom index too
df = pd.DataFrame(data, index=['a', 'b', 'c', 'd', 'e', 'f'])
df


# # passing in the dictionary of lists and arranging the columns
# pd.DataFrame(data, columns=['state', 'pop', 'year'])


# # ******************************** nested dictionary of dictionaries 
# # (outer keys = columns, inner keys = row indices)
populations = {"Ohio": {2000: 1.5, 2001: 1.7, 2002: 3.6}, "Nevada": {2001: 2.4, 2002: 2.9}}
nested_dics_df = pd.DataFrame(populations)

# override inner keys with setting index
nested_dics_df= pd.DataFrame(populations, index=[1873, 1874, 1875])
nested_dics_df


# # ****************************** dictionary of Series
# data = {'state': pd.Series(["Ohio", "Ohio", "Ohio", "Nevada", "Nevada", "Nevada"]),
#         'year': pd.Series([2000, 2001, 2002, 2001, 2002, 2003]),
#         'population': pd.Series([1.5, 1.7, 3.6, 2.4, 2.9, 3.2])}

# df = pd.DataFrame(data)
# df

# # ********* can also be series (or slice of series) from a dataframe
# # using first 4 rows of states and last 4 rows of year and pop series
# data = {'state': df['state'][:4],
#         'year': df['year'][-4 :],
#         'population': df['pop'][-4 :]
#         }


# # ****************************** dictionary of ndArray/Lists
# data = {'state': ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada", "Nevada"],
#         'year': [2000, 2001, 2002, 2001, 2002, 2003],
#         'population': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

# df = pd.DataFrame(data)
# df


# # ****************************** lists of lists
# data = [['Bob', '10'], ['Sue', 20], ['Steve', 30]]
# df = pd.DataFrame(data, columns=['Name', 'number'])
# df

      Ohio  Nevada
1873   NaN     NaN
1874   NaN     NaN
1875   NaN     NaN

Methods used to get info about df

In [318]:
df.head()
df.tail()
df.sample()
df.columns
df.info()
df.describe()
df.dtypes
df.copy()
df.isna()
df.notna()
df[df['state'].isna()]
df[df['state'].notna()]
df.fillna('value_for_nas')
df.dropna(subset=['state'], inplace=True)

df.sort_index()
df.sort_values(by='state')


# will return dtype that accommodates all if they are not the same
df.to_numpy() # returns two-dimensional ndarray (no outer or inner keys) - list of lists

df.rename(columns={'state':'state', 'pop':'pop'})  # chose to keep names the same


df['date_range_col'] = pd.date_range('20130101', periods=6)
pd.to_datetime(df['year'])  #needs to be in a different format to work correctly
# df['year'].dt.year

# using vector stuff is more efficient than apply
# lamda and apply (probably put it somewhere else in file)
df['lamda_col'] = df['state'].apply(lambda x: 'East' if x == 'Ohio' else ('West' if x == 'Nevada' else 'Midwest'))
# can also pass a custom python function into apply
# df.apply(custom_function)

df

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, a to f
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   state      6 non-null      object
 1   year       6 non-null      int64
 2   pop        6 non-null      float64
 3   lamda_col  6 non-null      object
 4   new_col    6 non-null      bool
dtypes: bool(1), float64(1), int64(1), object(2)
memory usage: 418.0+ bytes

    state  year  pop lamda_col  new_col date_range_col
a    Ohio  2000  1.5      East     True     2013-01-01
b    Ohio  2001  1.7      East     True     2013-01-02
c    Ohio  2002  3.6      East     True     2013-01-03
d  Nevada  2001  2.4      West    False     2013-01-04
e  Nevada  2002  2.9      West    False     2013-01-05
f  Nevada  2003  3.2      West    False     2013-01-06

### Grabbing and setting rows from dataframe

In [244]:
# ************************** (returns a view of the underline df, not a copy)

# ********** returns Series 

df.loc['d']  # non_int (label based) index location
df.loc['d', 'state']
df.iloc[0] # int index location?

df['state'][-3 :] # slice of the Series


# ********** returns dataframe
# df.loc[]  # shell
# [index], [column]  # 'condition'

df.loc[['d'], ['state']]
df.loc['a':'d']  
df.loc['a':'d', ['state']]
df.loc[df.index[[1,2,3]], ['state']]

# # *************************** copy df to not have Series changes be reflected in df
# copy_of_series = df['state'].copy()

# copy_of_series['a'] = 'Mexico'
# copy_of_series
# df


# df.loc[['d'], ['state', 'pop']]  # dataframe
# df.loc['a':'d', ['state']]  # dataframe
# df.loc[df.index[[2,3,4]], ['state', 'pop']]  # dataframe
# df[df['pop'].between(1,2.5)]

    state
b    Ohio
c    Ohio
d  Nevada

### Grabbing and setting column values

In [265]:
df['state']  # Series object
df[['state']]  # Datraframe
df[['state', 'pop']]  #Dataframe
 

# # using numpy to add values to new column
df['new_col'] = np.arange(6.)  
df

# np.where is kind of like a ternary
df['new_col'] = np.where(df['state'] == 'Ohio', True, False)
df

# # adding column using a Series and index (rows to place data) ~ defaults to first rows if not declare
new_column = pd.Series([True, True, False], index=['a', 'b', 'c'])
df['new_col'] = new_column
df


# # add **boolean** value to column based on condition of another column
df['conditional_based_value'] = df['state'] == 'Ohio'
df

# fill na with computed value
df['year'].fillna(df['year'].mean())

# fill nan with value based on the values above and below the nan
df['year'].interpolate()

del df['new_col']
del df['conditional_based_value']

Copy dataframe when you don't want changes to affect original df

In [ ]:
new_df = df.copy()

Resetting df to what you want the changes to be is 'better' than inplace = True

stated at the beginning of the line instead of the end

In [ ]:
# df = df.drop(columns=['state'])
# df.drop(columns=['state'], inplace=True)

Dropping / Deleting Columns

In [259]:
# deleting columns ~ will throw error if column does not exist
# del df['new_col']


# df.drop(columns=['state'])  # does not change orig df
# df.drop(columns=['state'], inplace=True)  # changes orig df

df

    state  year  pop
a    Ohio  2000  1.5
b    Ohio  2001  1.7
c    Ohio  2002  3.6
d  Nevada  2001  2.4
e  Nevada  2002  2.9
f  Nevada  2003  3.2

## Filtering

In [ ]:
# .query()
# whole query wrap in single quotes
# columns with spaces wrap in backticks
# string with double quotes
# variables @
# can use &, and, |, or  
# &, | have precedence over and, or **just use &, | **

# ----------------- working examples -----------------------
es = "Espresso"
# coffee.query('`Coffee Type` == "Espresso"')
# coffee.query('`Coffee Type` == @es')
# coffee.query('`Units Sold` == 25')
coffee.query('`Coffee Type` == "Espresso" | Day == "Tuesday"')

# coffee[coffee["Units Sold"] == 25]


# insights
# It looks like you can run any Series methods with .query()
#

## Reshaping Dateframes

In [324]:
# Creating the mock datasets for merges
employees = pd.DataFrame({
    'EmployeeID': [1, 2, 3, 4, 5, 6],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'DepartmentID': [101, 102, 101, 103, 104, None],
    'Salary': [70000, 80000, 60000, 90000, 75000, 65000]
})

departments = pd.DataFrame({
    'DepartmentID': [101, 102, 103, 105],
    'DepartmentName': ['HR', 'Engineering', 'Sales', 'Marketing'],
    'Location': ['New York', 'San Francisco', 'Chicago', 'Boston']
})

employees
departments

   DepartmentID DepartmentName       Location
0           101             HR       New York
1           102    Engineering  San Francisco
2           103          Sales        Chicago
3           105      Marketing         Boston

Transposing

In [ ]:
# Transposing (swaps rows and columns) ~ WARN discards col dtypes if not all same
# df.T
df.transpose(copy=True)  # default is false

Merge

In [321]:
merged_df = employees.merge(departments, left_on='DepartmentID', right_on='DepartmentID', how='inner')
merged_df

   EmployeeID     Name  DepartmentID  Salary DepartmentName       Location
0           1    Alice         101.0   70000             HR       New York
1           2      Bob         102.0   80000    Engineering  San Francisco
2           3  Charlie         101.0   60000             HR       New York
3           4    David         103.0   90000          Sales        Chicago

Join

In [ ]:
# Join (default merges my index), on='column_name only uses the left table and still index for right
# join_df = employees.join(departments, how='inner', on='DepartmentID') # error b/c no match
# join_df
join_df = employees.join(departments.set_index('DepartmentID'), on='DepartmentID', how='inner')
join_df

Concat

In [ ]:
# ************************** concat (pasting on bottom or side by side... not matching columns at all) 
# (tables should have the same column names to prevent NaNs, keeps index of both by default)
concat_df = pd.concat([employees, departments])  # rows on rows
concat_df = pd.concat([employees, departments], axis=1)  # cols on cols
concat_df

In [313]:
# Reshaping Dateframes | Pivot, Stack, Melt etc.

reshaping_df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
                           'two'],
                   'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'baz': [1, 2, 3, 4, 5, 6],
                   'zoo': ['x', 'y', 'z', 'q', 'w', 't']})

Pivot

In [314]:
# pivot: only one index or col. Can not handle duplicates values (throws error)
reshaping_df.pivot(index='foo', columns='bar', values='zoo')

# ********** notes form other dataframe
# allows to grab things like this
# pivot.loc["Monday", "Latte"]  

# grab sum of the columns
# pivot.sum()

# grab sum on the row (day as the index)
# pivot.sum(axis=1)

bar  A  B  C
foo
one  x  y  z
two  q  w  t

Pivot Table

In [ ]:
# pivot_tables: allow for more than one index or column. Can handle duplicate values (combines duplicate values to make one value (defaults numpy mean function))
reshaping_df.pivot_table(index=['foo', 'bar'], columns=['zoo'], values='baz')

Stack / Unstack

In [ ]:
# stack: stacks multiple cols in one to create a redundant index

tuples = list(
    zip(
        *[
            ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
            ["one", "two", "one", "two", "one", "two", "one", "two"],
        ]
    )
)
index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=["A", "B"])
stacking_df = df[:4]


stacking_df
# _____________________________________________________________________________


# stack cols A and B
stacked_df = pd.DataFrame(stacking_df.stack())
stacked_df

# unstack cols A and B
unstacked_df = stacked_df.unstack()  # can specify index name '' or position []
unstacked_df

Melt

In [ ]:
# melt function (gives each value_var on a different row)
# Unpivot a DataFrame from wide to long format, optionally leaving identifiers set.
melt_df = pd.melt(reshaping_df, id_vars='foo', value_vars=['zoo', 'baz'])
melt_df

# checking an instance of id_vars
# melt_df[]  # shell
# melt_df['foo'] == 'one'  # condition
melt_df[melt_df['foo'] == 'one']

Crosstab

In [ ]:
# cross tab table and how many times they occur together
# crosstab of "value counts of one column that appeared in another
pd.crosstab(reshaping_df['foo'], reshaping_df['bar'])

Explode

In [ ]:
# explode = breaks list values in a column into their own row per list item
keys = ["panda1", "panda2", "panda3"]

values = [["eats", "shoots"], ["shoots", "leaves"], ["eats", "leaves"]]

df = pd.DataFrame({"keys": keys, "values": values})
df

# two different ways of using it
df["values"].explode()  # returns Series object
df.explode('values')  # returns df with each list item on their own row

## Aggregating data

In [292]:
df['state'].value_counts()
df['pop'].sum()
df['pop'].mean()

# .groupby.sum()
# .groupby.agg({})

np.float64(2.5500000000000003)

## String Manipulation

Case

In [ ]:
# # case manipulation
# store_df['Store_Name'].str.lower()  # all
store_df['Store_Name'].str.upper()  # all
# store_df['Store_Name'].str.title()  # first letter all words
# store_df['Store_Name'].str.capitalize()  # first letter first word
# store_df['Store_Name'].str.swapcase()  # converts fist letter to upper and remaining to lowercase
# store_df['Store_Name'].str.casefold()  # converts whole word uppercase to lowercase vice versa


# changing dataframe column  
store_df['Store_Name'] = store_df['Store_Name'].str.upper()
# store_df

Concat

In [ ]:
# concat

# + concat
store_df['Store_Name'] + " " + store_df['Product']

# method concat
store_df['Store_Name'].str.cat(store_df['Product'], sep= " ")

# # changing dataframe column
# store_df['Store_Name'] = store_df['Store_Name'].str.cat(store_df['Product'], sep= " ")

# adding column of concat strings
store_df['Store_Name_Product_concat'] = store_df['Store_Name'].str.cat(store_df['Product'], sep= " ")

# c

Split

In [ ]:
# split strings

store_df['Location'].str.split(pat=",")  # Series

# returns split in separate columns in a df
store_df['Location'].str.split(pat=",", expand=True)  # df 

# create new columns with splitted values
store_df[["city", "state"]] = store_df["Location"].str.split(pat=",", expand=True)

store_df

Indexing on strings

In [ ]:
store_df["Store_Name"].str[0]  # first letter in string

store_df["Store_Name"].str[-1]  # last letter in string

store_df["Store_Name"].str[:3]  # slice first 3 letters in string

store_df["Store_Name"].str[1:3]  # slice off some values at beginning and end of string

Replace

In [ ]:
store_df["city"].str.replace("Chicago", "Chi Town")  # replace word

store_df["Location"].str.replace(",", "", regex=False)  # removes the ,

store_df["Location"].str.replace(",", "", regex=False).str.replace("X", "N", regex=False)  # chaining

Count

In [ ]:
store_df["Product"].str.len()  # counts letters in whole string

store_df["Product"].str.count("a")  # counts instances of letter

store_df["Product"].str.count("Toast")  # case sensitive

# store_df

Search / Filter

In [ ]:
store_df["Product"].str.contains("Toast")  # returns boolean ... case sensitive

store_df[store_df["Product"].str.contains("Toast")]  # use to filter and return df

store_df[store_df["Product"].str.contains("Toast") == False]  # filter for not Toast

Regex

In [ ]:
# non pandas way to search 
cities = store_df["city"].tolist()  # Series converted to list 
dallas = []
for city in cities:
    if "Dallas" in city:
        dallas.append(city)
print(dallas)


# pandas str.contains using df.loc[]
store_df.loc[store_df["city"].str.contains("Dallas")]  # Dallas
store_df.loc[~store_df["city"].str.contains("Dallas")]   # not Dallas

# w/o Regex - multiple conditions (Toast Bread)
store_df.loc[(store_df["Product"].str.contains("Toast")) | (store_df["Product"].str.contains("Bread"))]


# Regex
store_df.loc[store_df["Product"].str.contains('toast|bread', case=False, regex=True)]  # case insensitive using case=False


# pandas methods that use regex=True
# str.contains()  # string method
# .replace()  # series method

Convert date to str for regex

In [ ]:
store_df["Date"].dt.strftime("%Y-%m-%d") # (such as “%H:%M”, “%I:%M:%S %p”) (e.g. “%Y-%m-%d”)

store_df.loc[store_df["Date"].dt.strftime("%Y-%m-%d").str.contains('...-..-07', regex=True)]  #

# store_df.dtypes

None regex for dates

In [ ]:
store_df.loc[(store_df['Date'] >= '2024-01-02') & (store_df['Date'] < '2024-01-04')]   #.loc

store_df.loc[store_df['Date'].dt.weekday == 2]  # dt.weekday (tuesday)

store_df.query('Date >= "2024-01-01" & Date < "2024-01-05"')  # .query

store_df.loc[store_df['Date'].dt.strftime('%Y-%m-%d').between('2024-01-02', '2024-01-05'), ['Store_ID']]  # .between


# some interesting methods for dates - look at docs for more
# store_df['Date'].dt.weekday == 2  # returns boolean
# store_df['Date'].dt.weekday  # returns number of the weekday

# store_df['Date'].dt.day_name()  # returns Series of day names
# store_df['Date'].dt.month_name()  # returns Series of month names
# store_df['Date'].dt.day_of_year # returns Series of day of the year (Julean?)
# store_df['Date'].dt. # monthstart, quarterend, etc.

## Using Numpy

In [311]:
np.arange(6.)
np.nan

np.random.seed(42)
np.random.sample(10)
np.random.choice([100, 101, 200, 201])
np.random.choice([100, 101, 200, 201], size=10)
np.random.randint(1, 10)
np.random.randint(1, 10, size=10)
np.random.uniform(1, 10)
np.random.uniform(1, 10, size=10)


# ternary like
df['new_col'] = np.where(df['state'] == 'Ohio', True, False)

Series methods

In [257]:
df['state'].to_list()  #type list
df['state'].str

Deep deeper

In [250]:
# idexing object {test.ipynb file}

TODO

In [ ]:
# .shift()
# .rank()
# .rolling()
# .cumsum()
# resetting index
# reading files
# value in array
# groupby and agg
# subsetting after query / filter